@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Poiret+One&family=Press+Start+2P&family=Source+Sans+Pro:wght@200&display=swap');

:root {
    --walk1-y: 50px;
    --walk1-x: -500px;
    
    --walk2-y: -550px;
    --walk2-x: 550px;

    --walk3-y: 600px;
    --walk3-x: 500px;

    --slide-in-x: 300px;

    --body-height: 1080px;
    --body-width: 1280px;

    /* --breakout-window-columns: 2;
    --breakout-window-rows: 3; */
    --breakout-window-text-font-size: 30px;
    --breakout-window-btn-font-size: 80px;

    --modal-height: 1080px;
    --modal-width: 1920px;
    --modal-grid-rows: 240px;

    --map-height: 1080px;
    --map-width: 1920px;
    --map-template-rows: 270px;
    --map-text-bubble-font-size: 50px;
    --map-attack-btn-font-size: 50px;
    
    --fight-modal-height: 900px;
    --fight-modal-width: 1400px;
    --fight-modal-template-rows: 360px;
    --fight-character-text-font-size: 60px;
    --fight-modal-btn-font-size: 20px;

}

@keyframes walk-story-1 {
    0% {
    opacity:0;
    transform:translate(0, 0);
    }
    10% {
    opacity: 100;
    transform: translate(0, 0);
    }
    30% {
    transform: translate(0, var(--walk1-y));
    }
    100% {
    transform: translate(var(--walk1-x), var(--walk1-y));
    }
}

@keyframes walk-story-2{
    0% {
    opacity: 0;
    transform: translate(0, 0);
    }
    10% {
    opacity: 100;
    transform: translate(0, 0);
    }
    30% {
    transform: translate(0, var(--walk2-y));
    }
    100% {
    transform: translate(var(--walk2-x), var(--walk2-y));
    }
}

@keyframes walk-story-3{
    0% {
    opacity: 0;
    transform: translate(0, 0);
    }
    10% {
    opacity: 100;
    transform: translate(0, 0);
    }
    30% {
    transform: translate(500px, 0);
    }
    100% {
    transform: translate(500px, 600px);
    }
}

@keyframes fade-out {
    0% {
      opacity: 100;
    }
    95% {
        opacity: 0;
      }
    100% {
      opacity: 0;
    }
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
}

@keyframes flicker {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 100;
    }
    50% {
        opacity: 0;
    }
    100% {
      opacity: 100;
    }
}

@keyframes slide-in-right {
    0% {
        opacity: 0;
        transform: translate(var(--slide-in-x), 0);
    }
    80% {
        opacity: 0;
        transform: translate(var(--slide-in-x), 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes blow-up {
    0% {
        transform: scaleX(0.0);
        transform: scaleY(0.0);
    }
    75% {
        transform: scaleX(0.0);
        transform: scaleY(0.0);
    }
    0% {
        transform: scaleX(0.0);
        transform: scaleY(0.0);
    }
    100% {
        transform: scaleX(-1);
        transform: scaleY(1);
    }
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(10px, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    75% {
        transform: translate(-10px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes kill-animation {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 500px);
        opacity: 0;
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}  

body {
    font-family: 'Press Start 2P';
    height: var(--body-height);
    width: var(--body-width);
}

button:hover {
    transform: scale(1.2);
}

#new-game-modal {
    height: var(--modal-height);
    width: var(--modal-width);
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, var(--modal-grid-rows));
}

#cooper-keyboard-photo {
    border: solid yellow 20px;
    grid-column: 2;
    grid-row: 1;
    height: 180%;
}

#new-game-text {
    grid-column: 2;
    grid-row: 3;
    font-size: var(--breakout-window-text-font-size);
}

.new-game-button {
    font-size: var(--breakout-window-btn-font-size);
    grid-column: 2;
    grid-row: 4;
    border-radius: 8px;
    background-color: white;
    border: solid black 4px;
    border-style: solid none;
    font-family:'Press Start 2P';
}

#game-map-modal{
    display:none;
    height: var(--map-height);
    width: var(--map-width);
    background-image:url("images/cooper_game_map_low.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, var(--map-template-rows));
    animation-name: fade-in;
    animation-duration: 0.1s;
    animation-fill-mode:forwards;
}

.show {
    display: grid!important;
}

.shake-board {
    animation: shake;
    animation-delay: 1.2s;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.part-1 {
    animation-name: walk-story-1;
    animation-duration: 8.8s;
    animation-fill-mode: forwards;
}

.part-2 {
    animation-name: walk-story-2;
    animation-duration: 8.8s;
    animation-fill-mode: forwards;
}

.part-3 {
    animation-name: walk-story-3;
    animation-duration: 8.8s;
    animation-fill-mode: forwards;
}

.cooper-walking {
    position: relative;
    grid-column: 2;
    grid-row: 3;
    display: grid;
    justify-content: center;
    align-content: center;
}

.cooper-walking img {
    position: absolute;
    left: 90%;
}

.cooper-walking #cooper-above {
    animation-name: fade-out;
    height: 92%;
    animation-delay: 2.7s;
    animation-duration: 0.05s;
    animation-fill-mode: forwards;
}

.cooper-walking #cooper-side {
    opacity: 0;
    animation-name: fade-in;
    animation-delay: 2.7s;
    animation-duration: 0.05s;
    animation-fill-mode: forwards;
}

.cooper-walking #cooper-side-red {
    opacity: 0;
    animation-name: flicker;
    animation-delay: 6.8s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#cooper-talking {
    opacity: 0;
    grid-column: 4 / 5;
    grid-row: 2 / 5;
    display: flex;
    animation-name: slide-in-right;
    animation-delay: 8s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#bubble-and-text {
    opacity: 0;
    grid-column: 3;
    grid-row: 1;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    animation-name: fade-in;
    animation-delay: 8s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.text {
    position: absolute;
    height: 90%;
    width: 90%;
    z-index: 10;
    font-size: var(--map-text-bubble-font-size);
    padding-left: 30px;
    padding-top: 40px;
    
}

.bubble {
    opacity: 1;
    position: absolute;
    top: 0;
    z-index: 2;
}

#attack-button {
    opacity: 0;
    grid-column: 3;
    grid-row: 2;
    font-size: var(--map-attack-btn-font-size);
    animation-name: flicker;
    animation-delay: 9s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 8px;
    background-color: white;
    border: solid black 4px;
    border-style: solid none;
    font-family: 'Press Start 2P';
}

#fight-modal {
    display: none;
    font-size: var(--fight-character-text-font-size);
    border: solid black 25px;
    border-style: double;
    border-radius: 5%;
    height: var(--fight-modal-height);
    width: var(--fight-modal-width);
    padding: 30px 60px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, var(--fight-modal-template-rows));
    grid-template-areas: 
      "photo1 stats1"
      "stats2 photo2"
      "text text";
}

#enemy-stats {
    grid-area: stats1;
}

#enemy-photo {
    grid-area: photo1;
    display: flex;
    justify-content: center;
    transition: width 2s linear 1s;
    animation-name: blow-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#player-photo {
    grid-area: photo2;
    display: flex;
    justify-content: center;
    transition: width 2s linear 1s;
}

.stats-area {
    grid-area: stats2;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 43% 14% 43%;
    row-gap: 10%;
}

.progress {
      background: red;
      width: 70%;
      border: solid blue;
}

#enemy-hp {
    background: greenyellow;
    width: 100%;
    height: 100%;
    transition: width 0.5s linear;
}

#cooper-hp {
    background: greenyellow;
    width: 100%;
    height: 100%;
    transition: width 0.5s linear;
}

.action-buttons {
      display: flex;
}

.action-buttons button {
    flex:1;
    height: 50%;
    margin: 5px;
    border-radius: 8px;
    background-color: white;
    border: solid black 4px;
    border-style: solid none;
    font-family:'Press Start 2P';
    font-size: var(--fight-modal-btn-font-size);
}

#enemy-turn-btn {
      display: none;
      animation: blink-caret .55s step-end infinite;
}

#text-area {
    grid-area: text;
    border: solid grey 20px;
    border-radius: 2%;
    background: orange;
}

.kill {
    animation: kill-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
}

#player-lost-modal {
    height: var(--modal-height);
    width: var(--modal-width);
    border: 2px solid;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, var(--modal-grid-rows));
    animation-name: fade-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

#cooper-lost-photo {
    border: solid yellow 20px;
    grid-column: 2;
    grid-row: 1;
    height: 250%;
}

#restart-game {
    font-size: var(--breakout-window-btn-font-size);
    grid-column: 2;
    grid-row: 3;
    margin: 5px;
    border-radius: 8px;
    background-color: white;
    border: solid black 4px;
    border-style: solid none;
    font-family: 'Press Start 2P';
}

#player-won-modal {
    height: 1080px;
    width: 1920px;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 270px);
    animation-name: fade-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

#restart-game2 {
    font-size: var(--breakout-window-btn-font-size);
    grid-column: 2;
    grid-row: 4;
    margin: 5px;
    border-radius: 8px;
    background-color: white;
    border: solid black 4px;
    border-style: solid none;
    font-family: 'Press Start 2P';
}

#cooper-won-photo {
    border:solid yellow 20px;
    grid-column: 2;
    grid-row: 2;
    height: 250%;
}

#win-text {
    grid-column: 2;
    font-size: 70px;
}

.items-button {
    border-radius: 8px;
    background-color: white;
    border: solid black 4px;
    border-style: solid none;
    font-family: 'Press Start 2P';
}